<%= stylesheet_link_tag params[:controller] %>

<div class="new_body">
  <h2 id="sign_up">New user sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field text_area">
      <%= f.label "What's your email?" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field text_area">
      <%= f.label "Pick a password!" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field text_area">
      <%= f.label "Confirm that password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions clickable">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="clickable">
    <%= render "devise/shared/links" %>
  </div>
</div>
