<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_area :mfg %>
  </div>

  <div class="field">
    <select name="product[category_id]">
      <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>

<div class="field">
  <%= f.label :products, :method => :post do  %>
  <%= cl_image_upload_tag(:image_id) %>
  <% end %>
</div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
