<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Url</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table">
    <% @products.each do |product| %>
        <td><%= link_to image_tag(product.thumb), product %></td>
        <td><%= product.name %></td>
        <td><%= product.mfg %></td>
        <td><%= product.description %></td>
        <td><%= product.url %></td>
        <td><%= product.user_id %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
