<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
What?
<%= form_tag(products_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Url</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table">
    <% @products.each do |product| %>
        <td><%= link_to image_tag(product.thumb), product %></td>
        <td><%= link_to(product.name, product) %></td>
        <td><%= product.mfg %></td>
        <td><%= product.description %></td>
        <td><%= product.url %></td>
        <td><%= product.user_id %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
