<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>

  <thead>
    <tr>
<!--       <th>Name</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Url</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody class="table">
    <% @products.each do |product| %>
    <table>
       <%= link_to image_tag(product.thumb), product %>
       <%= product.name %>
       <%= product.mfg %>
       <%= product.description %>
       <%= product.url %>
       <%= product.user_id %>
       <%= link_to 'Show', product %>
       </table>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
