
<h1>New Product</h1>
<%= cloudinary_js_config %>
<%= render 'form' %>
<%= form_tag(@products_path, :method => :post) do  %>
  <%= cl_image_upload_tag(:image_id) %>
   
<% end %>
<%= link_to 'Back', products_path %>
