<p id="notice"><%= notice %></p>

<div class="prod_img">
  <%= image_tag @product.image %>
</div>

<p id="prod_name">
  <%= @product.name %>
</p>
<p class="tiny">
  <strong>Made by:</strong>
  <%= @product.mfg %>
</p>

<p class="tiny">
  <strong>Category:</strong>
  <%= link_to(@product.category.name, category_path(@product.category.id)) %>
</p>

<p class="description">
  <%= @product.description %>
</p>

<p class="below">
  <strong>Link to product:</strong>
  <a href="http://<%= @product.url %>" target="_blank"><%= @product.url %></a>
</p>

<p class="below">
  <strong>Submitted by:</strong>
  <%= @product.user.email %>
</p>
<br>

<div class="edit_back_link">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
<br>
<%= link_to 'Leave a Review!', new_product_review_path(@product) %><br>

<h2>Reviews:</h2>
<% @reviews.each do |f| %>
  <h4><%= f.title %></h4>
  <p><%= f.user.email %> <%= f.created_at %></p>
  <p><%= f.comment %></p>
  <p><%= f.rating %></p>
<% end %>
