<!DOCTYPE html>
<html>
<head>
  <title>Goodwhiskers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="#">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<header class="site_nav">
  <nav>
    <span class="home_btn">
     <a><%= link_to 'Home', home_index_path, method: :get%></a>
    </span>

    <span class="login_logout">
      <a> <%= link_to 'Log Out', destroy_user_session_path, method: :delete%></a>
      </span>
      <span class="login_logout">
      <a> <%= link_to 'Log In', new_user_session_path, method: :get%></a>
    </span>
  </nav>
</header>

<%= yield %>


</body>
</html>
