<%= form_for([@product, @review]) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :comment %>
  </div>


  <div>
  <p>1</p>
  <%= radio_button_tag("review[rating]", "1") %>
  <p>2</p>
  <%= radio_button_tag("review[rating]", "2") %>
  <p>3</p>
  <%= radio_button_tag("review[rating]", "3") %>
  <p>4</p>
  <%= radio_button_tag("review[rating]", "4") %>
  <p>5</p>
  <%= radio_button_tag("review[rating]", "5") %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>