<!DOCTYPE html>
<html>
<head>
  <title>Goodwhiskers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="#">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600italic,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
  <header class="site_nav">
    <div class="row top">
      <div class="col-9 search">
        <div class="search_btn">
          <%= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
          <span class="stupid_btn"><%= submit_tag "Search" %></span>
          <% end %>
        </div>
      </div>
      <div class="col-3 new right">
        <span class="new_prod">
        <a><%= link_to 'Submit New Product', new_product_path, method: :get %></a>
        </span>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-3 home">
        <span class="home_btn">
          <a><%= link_to 'Home', home_index_path, method: :get %></a>
        </span>
      </div>
      <div class="col-9 authentication right">
        <span class="login_logout">
          <% if !user_signed_in? %> <!-- execute this code block if the user is NOT signed in -->
            <!-- generate Log In and Sign Up buttons -->
            <span>
              <a> <%= link_to 'Log In', new_user_session_path, method: :get%> | </a>
            </span>
            <span class="login_logout">
              <a> <%= link_to 'Sign Up', new_user_registration_path, method: :get%></a>
            </span>
          <% else %> <!-- execute this code block if the user IS signed in -->
            <!-- greet the user and offer log out button -->
            <span class="login_logout">
              <a> <%= link_to 'Log Out', destroy_user_session_path, method: :delete%></a>
            </span>
            <span class="login_logout">
              <span> <%= "| Logged in as: " + current_user.email %></span>
            </span>
          <% end %>
        </span>
      </div>
    </div>
  </header>
</div>
<%= yield %>

</body>

<!-- <footer class="footer_bar">
  <p class="feet">Made with love in ATX.</p>
  <p class="feet">By Team Taj Mahal!</p>
</footer>
</body>
</html> -->
