<!DOCTYPE html>
<html>
<head>
  <title>Goodwhiskers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="#">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600italic,100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
  <header class="site_nav">
    <nav>
      <span class="home_btn">
       <a><%= link_to 'Home', home_index_path, method: :get %></a>
      </span>
      <span class="home_btn">

      <a><%= link_to 'Submit New Product', new_product_path, method: :get %></a>
      </span>
      
      <div class="search_btn">
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
      <% end %>

      </div>

      <span class="login_logout">
        <% if !user_signed_in? %> <!-- execute this code block if the user is NOT signed in -->
          <!-- generate Log In and Sign Up buttons -->
          <span>
            <a> <%= link_to 'Log In', new_user_session_path, method: :get%></a>
          </span>
          <span class="login_logout">
            <a> <%= link_to 'Sign Up', new_user_registration_path, method: :get%></a>
          </span>
        <% else %> <!-- execute this code block if the user IS signed in -->
        <!-- greet the user and offer log out button -->
          <span class="login_logout">
            <a> <%= link_to 'Log Out', destroy_user_session_path, method: :delete%></a>
          </span>
          <span class="login_logout">
            <a> <%= "Logged in as: " + current_user.email %></a>
          </span>
        <% end %>
      </span>
    </nav>


  </header>
</div>
<%= yield %>

</body>

<!-- <footer class="footer_bar">
  <p class="feet">Made with love in ATX.</p>
  <p class="feet">By Team Taj Mahal!</p>
</footer>
</body>
</html> -->
